/* Header */ 
header { 
    @include p-400;
}
nav { 
    @include d-flex;
    @include a-center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid $brown;
    
    a {
        font-weight: bold;
        margin-left: 20px;
        text-decoration: none;
    }
    .google_signup {
        border: 1px solid $brown;
        padding: 10px;
        border-radius: 5px;
        &>img { 
            vertical-align: bottom;
        }
    }
}