/* Main */
main {
    margin: 50px 0;
    color: $brown;
    background-image: url('../img/illustration-main.jpg');
    background-size: 520px;
    background-repeat: no-repeat;
    background-position: 70% 0px;

    .main { 
        @include p-400; 
        
    }

    h1 { 
        font-size: 40px; 
        line-height: 60px;
    }

    h1, p { width: 40%; }

    p { 
        font-size: 19px;
        line-height: 30px;
    }

    a { @include deco-none; }

    .sign_up { 
        @include d-flex;
        @include a-center;
        width: 45%;
        margin: 50px 0 15px 0;

        .signup_btn { 
            @include blue-btn;
            @include deco-none;
            img { width: 20px; }
        }

        &>span { margin: 0 5px; }
    }

    .info { 
        @include p-400;
        @include m-50;

        h2 { 
            width: 46%;
            margin: auto;
            text-align: center;
        }
        background-color: $bg_beige;
        .upper, .bottom { 
            text-align: center;
            padding: 50px 0;
    
            &>div { 
                display: flex;
                align-items: center;
                width: 100%;
                text-align: center;
                justify-content: space-around;
                @include m-50;

                img { height: 100px; }
            }
            p { 
                width: 100%;
                font-size: 14px;
            }
        }
        &>h2 { padding-bottom: 50px; }
    }

    .features { 
        .feedbacks { background-image: url('../img/employee-feedback.jpg') }
        .feedbacks, .reviews { 
            padding-left: 50%;
            background-size: 36%;
            background-repeat: no-repeat;
            background-position: 20%;

            h2 { @include w-45; }
            p { margin: 25px 0;}
            a { 
                display: block; 
                margin-bottom: 25px;
            }
            img { width: 280px; }
        }
        .surveys { background-image: url('../img/employee-survey.jpg'); }
        .surveys, .value { 
            padding-left: 25%;
            background-size: 36%;
            background-repeat: no-repeat;
            background-position: 75% 0;
            margin-top: 40px;

            h2, p { width: 30%; }
            p { margin: 25px 0;}
            a { 
                display: block; 
                margin-bottom: 25px;
            }
            img { width: 280px; }
        }
        .reviews { 
            background-image: url('../img/performance-review.jpg'); 
            margin-top: 40px;
        }
        .value { 
            background-image: url('../img/employee-survey.jpg');
        }
    }

    .join_us { 
        background-color: $bg_beige;
        margin-top: 50px;
        padding: 50px 0;
        h2 {     
            font-size: 45px;
            margin: auto;
            width: 44%;
        }
        .text {
            @include d-flex;
            justify-content: center;
            &>div { 
                background: white;
                padding: 20px;
                border: 1px solid $blue;
                border-radius: 10px;
                font-size: 15px;
                width: 42%;
                margin: 25px 0;
                position: relative;
                .quotes {
                    position: absolute;
                    top: -22px;
                    left: 0;
                    color: $blue;
                    font-size: 35px;
                }
            }
            span { 
                display: block;
                margin-bottom: 10px;
            }
            .staff {
                @include d-flex;
                img { margin-right: 15px; }
                &>div {
                    display: flex;
                    line-height: 7px;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .sign_up { 
            width: unset;
            justify-content: center;
            
        }
        &>a { 
            @include d-flex;
            justify-content: center;        
        }
    }
}