/* Main */
main {
    margin: 50px 0;
    color: $brown;
    background-image: url('/../dist/img/illustration-main.jpg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 85% 0px;

    .main { 
        @include p-100; 
        
    }

    h1 { 
        font-size: 40px; 
        line-height: 60px;
    }

    h1, p { @include w-45; }

    p { 
        font-size: 19px;
        line-height: 30px;
    }

    a { @include deco-none; }

    .sign_up { 
        @include d-flex;
        @include a-center;
        width: 45%;
        margin: 50px 0 15px 0;

        .signup_btn { 
            @include blue-btn;
            @include deco-none;
            img { width: 20px; }
        }

        &>span { margin: 0 5px; }
    }

    .info { 
        @include p-100;
        @include m-50;

        h2 { 
            width: 46%;
            margin: auto;
            text-align: center;
        }
        background-color: $bg_beige;
        .upper, .bottom { 
            text-align: center;
            padding: 50px 0;
    
            &>div { 
                display: flex;
                align-items: center;
                width: 100%;
                text-align: center;
                justify-content: space-around;
                @include m-50;

                img { height: 100px; }
            }
            p { 
                width: 100%;
                font-size: 14px;
            }
        }
        &>h2 { padding-bottom: 50px; }
    }

    .features { 
        .feedbacks { 
            background-image: url('/../dist/img/employee-feedback.jpg');
            padding-left: 50%;
            background-size: 50%;
            background-repeat: no-repeat;

            h2 { @include w-45; }
            p { margin: 25px 0;}
            a { 
                display: block; 
                margin-bottom: 25px;
            }
            img { width: 280px; }
        }
        .surveys { 
            background-image: url('/../dist/img/employee-survey.jpg');
            padding-left: 25%;
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 100% 0;
            margin-top: 40px;

            h2, p { width: 26%; }
            p { margin: 25px 0;}
            a { 
                display: block; 
                margin-bottom: 25px;
            }
            img { width: 280px; }
        }
    }

}